@tailwind base;
@tailwind components;
@tailwind utilities;

.no-underline {
   text-decoration:none !important;
}
body:not(.sidebar-mini-md) .content-wrapper,
body:not(.sidebar-mini-md) .main-header{
    margin-left: 255px;
}
.sidebar-collapse .main-sidebar{
    margin-left: -255px!important;
}



.side-button {
    @apply flex items-center px-4 py-2 text-gray-700 rounded text-gray-600 transition-colors duration-200 transform dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 dark:hover:text-gray-200 hover:text-gray-700;
}
.tw-side-nav{
    @apply flex flex-col w-64 h-screen px-2 py-8 bg-gray-100 border-r dark:bg-gray-800;
}
.router-link-active{
    @apply bg-yellow-400 text-black;
}