@tailwind base;
@tailwind components;
@tailwind utilities;

.no-underline {
   text-decoration:none !important;
}
body:not(.sidebar-mini-md) .content-wrapper,
body:not(.sidebar-mini-md) .main-header{
    margin-left: 255px;
}
.sidebar-collapse .main-sidebar{
    margin-left: -255px!important;
}



.side-button {
    @apply flex items-center px-4 py-2 text-gray-700 rounded;
}
.tw-side-nav{
    @apply flex flex-col w-64 h-screen px-2 py-8 bg-gray-100 border-r ;
}