@tailwind base;
@tailwind components;
@tailwind utilities;

.no-underline {
   text-decoration:none !important;
}
body:not(.sidebar-mini-md) .content-wrapper,
body:not(.sidebar-mini-md) .main-header{
    margin-left: 255px;
}
.sidebar-collapse .main-sidebar{
    margin-left: -255px!important;
}



.side-button {
    @apply flex items-center px-4 py-2 text-gray-700  rounded dark:text-gray-200 hover:text-gray-500;
}
.tw-side-nav{
    @apply flex flex-col w-64 h-screen px-4 py-8 bg-white border-r dark:bg-gray-800 dark:border-gray-600;
}

.side-button.router-link-active{
    @apply bg-yellow-400 text-black !important
}
